<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Peaceful Route</title>
    <!--<link rel="stylesheet" href="{{url_for('static', filename='css/main.css')}}" />-->
    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">

    <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
    <link href="../static/index.css" rel="stylesheet">
</head>
<body>
{% block content%}

{% endblock %}
</body>
</html>