<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Python Flask Bucket List App</title>


    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">

    <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
    <link href="../static/index.css" rel="stylesheet">
    <script src="../static/js/jquery-1.11.2.js"></script>
    <script src="../static/js/signUp.js"></script>
  </head>

  <body>

    <div class="container">
      <div class="jumbotron">
        <h1>Peaceful Route</h1>
        <form class="form-signin">
          <label for="inputName" class="sr-only">From</label>
          <input type="name" name="inputName" id="inputName" class="form-control" placeholder="From" required autofocus>
          <label for="inputEmail" class="sr-only">To</label>
          <input type="email" name="inputEmail" id="inputEmail" class="form-control" placeholder="To" required autofocus>
          <button id="btnSignUp" class="btn btn-lg btn-primary btn-block" type="button">Get route</button>

        </form>
        <img src="../static/test_pic.png" alt="User Image">
      </div>




      <footer class="footer">
        <p>&copy; Bad&lt3feld 2018</p>
      </footer>

    </div>
  </body>
</html>